# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist
build
out

# TypeScript cache
*.tsbuildinfo

# Optional npm cache
.npm

# Optional eslint cache
.eslintcache

# Vite files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/

# dotenv environment variable files
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# Maven build output
target/
uploads/
.codegraphy/*

talkloop-client/.prettierrc.json